.btn {
    padding: var(--spacing-xs) var(--spacing-s);
    text-decoration: none;
}


.btn.full {
    width: 100%;
    text-align: center;
    margin-bottom: var(--spacing-m);
}

.btn.primary {
    background-color: var(--color-primary);
    color: #fff;
    display: inline-block;
}

.btn.secondary {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
