.bg-color-lightblue {
    background-color: var(--color-light-blue);

}

.bg-color-grey {
    background-color: var(--color-light-grey);
}

.bg-color-green {
    background-color: var(--color-green);
}

.bg-color-dark-red {
    background-color: var(--color-dark-red);
}

.bg-color-turquoise {
    background-color: var(--color-turquoise);
}

.bg-color-red {
    background-color: var(--color-red);
}

.bg-color-blue {
    background-color: var(--color-blue);
}

.bg-color-yellow {
    background-color: var(--color-yellow);
}

.text-color-dark-red {
    color: var(--color-dark-red);
}
