.bg-color-lightblue {
    background-color: #b4d0e7;

}

.bg-color-grey {
    background-color: lightgray;
}

.bg-color-green {
    background-color: #a2d39b;
}

.bg-color-dark-red {
    background-color: #61082b;
}

.bg-color-turquoise {
    background-color: #0093ce;
}

.bg-color-red {
    background-color: red;
}

.bg-color-blue {
    background-color: #0d2481;
}

.bg-color-yellow {
    background-color: #ffd830;
}

.flex-basis-30 {
    flex-basis: 30%;
}

.text-color-dark-red {
    color: #61082b;
}

.text-color-dark-red {
    color: #61082b;
}