.flex-basis-30 {
    flex-basis: 30%;
}

.flex-basis-70 {
    flex-basis: 70%;
}

.flex-basis-60 {
    flex-basis: 60%;
}

.flex-basis-40 {
    flex-basis: 40%;
}

.flex {
    display: flex;
}   

.gap-8 {
    gap: var(--spacing-xs);
}

.gap-16 {
    gap: var(--spacing-s)
}

.gap-24 {
    gap: var(--spacing-m)
}

.gap-32 {
    gap: var(--spacing-l)
}